<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a163363s.parkbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".App.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MapActivity"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LocationInfoActivity"></activity>
        <activity android:name=".UserProfileActivity"></activity>
        <activity android:name=".BookmarkActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".Bookmark.ActivityViewBookmark" />
        <activity android:name=".Bookmark.SelectLocationActivity" />
        <activity android:name=".Bookmark.ViewBookmarkOnMap" />
        <activity android:name=".FingerPrintActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarparkLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".ContactActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".QRActivity" />
        <activity android:name=".Slider.IntroActivity" />
        <activity android:name=".Slider.IntromapActivity"></activity>
        <activity android:name=".TrackActivity"></activity>
    </application>

</manifest>